<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jaemzware.analogarchivejs</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/jamesarasim/dev/repositories/jaemzware/analogarchivejs/AnalogArchive.app/Contents/MacOS/AnalogArchive</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jamesarasim/dev/repositories/jaemzware/analogarchivejs</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/jamesarasim/dev/repositories/jaemzware/analogarchivejs/output.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jamesarasim/dev/repositories/jaemzware/analogarchivejs/error.log</string>
</dict>
</plist>
